/vendor
/.run
/.idea
/.vscode
/.vagrant
.phpunit.result.cache

.phpdoc
phpDocumentor.phar
phpdoc.dist.xml
api-docs

phpstan.phar

.github/dev-docs/README.markdown
.github/dev-docs/.github/

# We keep a "master" lock file in the monorepo
composer.lock 
