name: Framework Tests (Matrix)
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:

  run-tests:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}

    steps:
      - uses: shivammathur/setup-php@15c43e89cdef867065b0213be354c2841860869e
        with:
          php-version: "8.0"
          extensions: fileinfo
      - name: Install Hyde
        run: git clone https://github.com/hydephp/hyde.git $(pwd)
      - name: Install Dependencies
        run: composer install --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist

      - name: Set Framework version to dev-github.base_ref
        if: github.event_name != 'push'
        run: "composer require hyde/framework:dev-${{ github.base_ref }}"
      - name: Set Framework version to dev-master
        if: github.event_name == 'push'
        run: "composer require hyde/framework:dev-master"
     
      - name: Set environment to testing
        run: echo "ENV=testing" > .env
      - name: Execute tests (Unit and Feature tests) via PHPUnit/Pest
        run: vendor/bin/pest
        env:
          ENV: testing
